<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TripAdviserDesktopClient.Properties.Settings.TripAdviserDatabaseConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=TripAdviserDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>